<div class="centre-in-entire-page-wrapper-flex">
  <div class="card">
    <img
      src="..."
      alt="pres-logo"
      class="..."
    />
    <span class="form-top-text"
      >Already have an account?
      <a
        data-cy="login-link"
        class="..."
        href="/signin"
        >Sign in</a
      ></span
    >
    <form class="signup-form">
      <div data-cy="signup-email" class="field-group">
        <label for="email" color="text" class="field-label"
          ><span>Email</span></label
        ><input
          id="email"
          type="email"
          placeholder="Enter your email"
          class="input-field"
          name="email"
          value=""
        />
      </div>
      <div data-cy="password" class="field-group">
        <label for="password" color="text" class="field-label"
          ><span>Password</span></label
        ><input
          id="password"
          type="password"
          placeholder="Enter your password"
          class="input-field"
          name="password"
          value=""
        />
      </div>
      <button class="btn">
        <i class="fas fa-sign-in-alt"></i>Login</button>
    </form>
  </div>
</div>
