<div class="centre-in-entire-page-wrapper-flex">
  <div class="card">
    <!-- <img
      src="..."
      alt="pres-logo"
      class="..."
    /> -->
    <h1 class="center-inline">Sign in</h1>
    <span class="form-top-text"
      >Don't have an account?
      <a
        class="..."
        routerLink="/signup"
        >Sign up</a
      ></span
    >
  
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate class="vertical-form">
      <div class="field-group">
        <label for="email" color="text" class="field-label"
          >Email</label
        ><input
          id="email"
          type="email"
          placeholder="Enter your email"
          class="input-field"
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <div class="field-group">
        <label for="password" color="text" class="field-label"
          >Password</label
        ><input
          id="password"
          type="password"
          placeholder="Enter your password"
          class="input-field"
          name="password"
          [(ngModel)]="password"
        />
      </div>
      <button [disabled]="!f.valid" class="btn">
        <i class="fas fa-sign-in-alt"></i>Login</button>
    </form>
  </div>
</div>
