<div class="centre-in-entire-page-wrapper-flex">
  <div class="card">
    <!-- <img
      src="..."
      alt="pres-logo"
      class="..."
    /> -->
    <h1 class="center-inline">Sign in</h1>
    <span class="form-top-text"
      >Don't have an account?
      <a
        class="..."
        routerLink="/signup"
        >Sign up</a
      ></span
    >
  
    <form #f="ngForm" (ngSubmit)="onLogin(f)" novalidate class="form">
      <div class="field-group" [ngClass]="{'field-group--error': !emailVal.valid && emailVal.touched}">
        <label for="email" color="text" class="field-label"
          >Email</label
        ><input
          id="email"
          type="email"
          placeholder="Enter your email"
          class="input-field"
          [(ngModel)]="email"
          name="email"
          required
          email
          #emailVal="ngModel"
        />
      </div>
      <span class="form--help-under-field help-text error" *ngIf="!emailVal.valid && emailVal.touched">Please enter a valid email</span>
      <div class="field-group" [ngClass]="{'field-group--error': !emailVal.valid && emailVal.touched}">
        <label for="password" color="text" class="field-label"
          >Password</label
        ><input
          id="password"
          type="password"
          placeholder="Enter your password"
          class="input-field"
          name="password"
          [(ngModel)]="password"
          required
          password
          #passwordVal="ngModel"
        />
      </div>
      <span class="form--help-under-field help-text error" *ngIf="!passwordVal.valid && passwordVal.touched">Please enter a valid password</span>
      <button [disabled]="!f.valid" class="btn">
        <i class="fas fa-sign-in-alt"></i><span class="icon-text">Login</span></button>
    </form>
  </div>
</div>
