<div class="pres">
  <div class="pres-word-container">
    <p class="pres-word margin--none">revolutionary</p>
    <p class="pres-word--secondary margin--none">revolucionario</p>
  </div>
  <div class="pres-controller-container">
    <div class="pres-controller">
      <button class="btn">Start</button>
      <button class="btn">Back</button>
      <button class="btn">Toggle</button>
      <button class="btn">Examples</button>
      <button class="btn">Seen</button>
      <button class="btn">Skip</button>
      <button class="btn">End</button>
    </div>
  </div>
</div>
