.navbar {
  position: absolute;
  bottom:0;
  width: 100%;
  
}

.navbar--fixed {
  position: fixed;
}

.navbar__brand {
  display: flex;
}

.navbar__inner {
  background-color: rgb(28, 27, 32);
  display: flex;
  flex-wrap: wrap;
  padding: var(--sm) var(--md);
  /* background-color: rgba(68, 34, 102, 0.796);
  background-color: rgb(216, 184, 108);
  background-color: rgb(231, 208, 211);
  background: linear-gradient(296.37deg, #FFD494 6.69%, rgba(255, 190, 169, 0) 33.83%);
  background: linear-gradient(296.37deg, #FFD494 6.69%, rgba(255, 190, 169, 0) 33.83%),linear-gradient(129.1deg, #EA8EA4 -1.7%, rgba(253, 229, 178, 0) 72.42%),linear-gradient(26.22deg, #7735E4 2.78%, #DA70A9 30.98%, #F3C690 53.17%);
  padding: 12px; */
  /* border-top: .3px solid black; */
}

.navbar__item {
padding-right:5rem;
}

.navbar__link {
  color: white;
  color:purple;
  color: rgb(28, 7, 50);
  color:white;
  font-weight:500;
  font-size: 2rem;;
}

.navbar__items {
  display: flex;
  /* justify-content: space-between; */
  width:50%;
  padding: 1.2rem;
}

.navbar__items--right {
  justify-content: flex-end;
  margin-left: auto;
  width: 33%;
}
