<div class="centre-in-entire-page-wrapper">
  <div class="login-container">
    <div class="cross">
      <span class="cross__picto"></span>
    </div>
    <div class="signin">
      <div class="upper">
        <p class="title">Login</p>
        <div class="login">
          <form>
            <div class="form-input">
              <input name="email" placeholder="E-mail address" type="text" />
            </div>
            <div class="form-input">
              <input name="password" placeholder="Password" type="password" />
            </div>
          </form>
        </div>

        <div class="bottom">
          <div class="btns-container">
            <div class="big-button mail"><p>Login</p></div>
          </div>
          <div class="sign-text">
            <span>Don't have an account?</span>
            <span class="emphasis">Sign up</span>
          </div>
          <p class="forgot-password">Forgot password?</p>
        </div>
      </div>
    </div>
  </div>
</div>
