<div class="centre-in-entire-page-wrapper-flex">
    <div class="card">
      <!-- <img
        src="..."
        alt="pres-logo"
        class="..."
      /> -->
      <h1 class="center-inline">Sign up</h1>
      <span class="form-top-text"
        >Already have an account?
        <a
          class="..."
          routerLink="/login"
          >Sign in</a
        ></span
      >
    
      <form #f="ngForm" (ngSubmit)="onRegister()" novalidate class="form">
        <div class="field-group" [ngClass]="{'field-group--error': !emailVal.valid && emailVal.touched}">
          <label for="email" color="text" class="field-label"
            >Email</label
          ><input
            id="email"
            type="email"
            placeholder="Enter your email"
            class="input-field"
            [(ngModel)]="email"
            name="email"
            required
            email
            #emailVal="ngModel"
          />
        </div>
        <span class="form--help-under-field help-text error" *ngIf="!emailVal.valid && emailVal.touched">Please enter a valid email</span>

        <div class="field-group" [ngClass]="{'field-group--error': !givenNameVal.valid && givenNameVal.touched}">
            <label for="givenName" color="text" class="field-label"
              >Name</label
            ><input
              id="givenName"
              type="text"
              placeholder="Enter your name"
              class="input-field"
              [(ngModel)]="givenName"
              name="name"
              required
              #givenNameVal="ngModel"
            />
          </div>
          <span class="form--help-under-field help-text error" *ngIf="!givenNameVal.valid && givenNameVal.touched">Please enter your name</span>

          <div class="field-group" [ngClass]="{'field-group--error': !nicknameVal.valid && nicknameVal.touched}">
            <label for="nickname" color="text" class="field-label"
              >Nickname</label
            ><input
              id="nickname"
              type="text"
              placeholder="Enter your nickname"
              class="input-field"
              [(ngModel)]="nickname"
              name="nickname"
              required
              required
              #nicknameVal="ngModel"
            />
          </div>
          <span class="form--help-under-field help-text error" *ngIf="!nicknameVal.valid && nicknameVal.touched">Please enter a nickname</span>

        <div class="field-group" [ngClass]="{'field-group--error': !passwordVal.valid && passwordVal.touched}">
          <label for="password" color="text" class="field-label"
            >Password</label
          ><input
            id="password"
            type="password"
            placeholder="Enter your password"
            class="input-field"
            name="password"
            [(ngModel)]="password"
            required
            password
            #passwordVal="ngModel"
          />
        </div>
        <span class="form--help-under-field help-text error" *ngIf="!passwordVal.valid && passwordVal.touched">Please enter a valid password</span>
        
        <button [disabled]="!f.valid" class="btn">
          <i class="fas fa-sign-in-alt"></i><span class="icon-text">Sign up</span></button> 
      </form>
    </div>
  </div>







