<aside class="sidebar">
  <a class="sidebar__brand" href="#">
    <img
      src="/somefile"
      alt="logoname"
      class=""
    /><!--add classes here-->
    <b class="sidebar__title">Presentation app</b>
  </a>
  <nav class="menu thin-scrollbar">
    <ul class="menu-list">
      <li>
        <a class="menu__item menu__link" href="#">Levels</a>
      </li>
      <li>
        <a class="menu__item menu__link" href="#">Categories</a>
      </li>
      <li>
        <a class="menu__item menu__link" href="#">Recent Lessons</a>
      </li>
    </ul>
  </nav>
</aside>
