:root {
  --sidebar-width: 300px;
  --xl:5rem!important;
  --lg:2rem!important;
  --md:1rem!important;
  --sm:.5rem!important;
  --xs:.25rem!important;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; /* font-size: 1.4rem; } =14px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  }

body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(28, 30, 33);
}

/* HTML TAGS */

/* aside {
  background: rgba(0, 0, 0, 0.3);
} */

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* WRAPPERS AND CONTAINERS */

.main-container {
  height: 100%;
  width: 100%; /*need to set this because this is a flex item and default is t size according to content. Could also set flez-grow: 1 */
  max-width: calc(100% - var(--sidebar-width));
  /* padding-top:var(--md);
  padding-bottom:var(--lg);
  padding-left:var(--md);
  padding-right:var(--md); */
  padding: 0 var(--md);
}

.main-wrapper {
  /* flex: 1 0 auto; toresearch */
  display: flex;
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.centre-in-entire-page-wrapper {
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
}

/* LAYOUT */

.btn{
  border: none;
  cursor: pointer;
  background-image: linear-gradient(227deg, rgb(44, 241, 217) 0%, rgb(23, 173, 237) 100%);
  border-radius: 2rem;
  font-size: 2.5rem;
  color:white;
  padding: var(--md) var(--lg);
  margin: auto var(--md);
}

/* UTILITIES */

.thin-scrollbar {
    scrollbar-width: thin;
  }

/* UNITS */
.margin-left--none {
 margin-left:0!important
}
.margin-right--none {
 margin-right:0!important
}
.margin--none {
 margin:0!important
}
.margin-bottom--xs{
 margin-bottom:var(--xs);
}
.margin-top--xs {
 margin-top:var(--xs);
}
.margin-left--xs {
 margin-left:var(--xs);
}
.margin-right--xs {
 margin-right:var(--xs);
}
.margin--xs {
 margin:var(--xs);
}
.margin-bottom--sm{
 margin-bottom:var(--sm);
}
.margin-top--sm{
 margin-top:var(--sm);
}
.margin-left--sm {
 margin-left:var(--sm);
}
.margin-right--sm {
 margin-right:var(--sm);
}
.margin--sm {
 margin:var(--sm);
}
.margin-bottom--md {
 margin-bottom:var(--md);
}
.margin-top--md {
 margin-top:var(--md);
}
.margin-left--md {
 margin-left:var(--md);
}
.margin-right--md {
 margin-right:var(--md);
}
.margin--md {
 margin:var(--md);
}
.margin-bottom--lg{
 margin-bottom:var(--lg);
}
.margin-top--lg{
 margin-top:var(--lg);
}
.margin-left--lg {
 margin-left:var(--lg);
}
.margin-right--lg {
 margin-right:var(--lg);
}
.margin--lg {
 margin:var(--lg);
}
.margin-bottom--xl{
 margin-bottom:var(--xl);
}
.margin-top--xl {
 margin-top:var(--xl);
}
.margin-left--xl {
 margin-left:var(--xl);
}
.margin-right--xl {
 margin-right:var(--xl);
}
.margin--xl {
 margin:var(--xl);
}


.padding--sm {
  padding: var(--sm);
}
.padding-bottom--md {
  padding-bottom: var(--md);
}
.padding-top--md{
  padding-top: var(--md);
}
.padding-left--md {
  padding-left: var(--md);
}
.padding-right--md {
  padding-right: var(--md);
}
.padding--md {
  padding: var(--md);
}
.padding-bottom--lg {
  padding-bottom: var(--lg);
}
.padding-top--lg {
  padding-top: var(--lg);
}
.padding-left--lg {
  padding-left: var(--lg);
}
.padding-right--lg {
  padding-right: var(--lg);
}
.padding--lg {
  padding: var(--lg);
}
.padding-bottom--xl{
  padding-bottom: var(--xl);
}
.padding-top--xl {
  padding-top: var(--xl);
}
.padding-left--xl {
  padding-left: var(--xl);
}
.padding-right--xl {
  padding-right: var(--xl);
}
.padding--xl {
  padding: var(--xl);
}
